.header {
  background-color: #39445a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
}
.Navbar-logo {
  display: flex;
}

.logo {
  width: 40px;
  padding-right:  10px;
}

.title {
  color: white;
  font-size: 2em;
  font-weight: 800;

  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.Navbar-search {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.searchInput {
  width: 20vw;
  height: 3em;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  padding: 0 20px;
  cursor: pointer;;
}
.Navbar-search input::placeholder {
  color: #8e9197;
  text-align: center;
  margin: 0 auto;
}
.searchBtn {
  border-radius: 0 5px 5px 0;

  align-items: center;
  display: flex;
  padding: 5.5px 10px;
  border: none;
  outline: none;
  height: 3em;
}

.signInBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  padding: 0 20px;
  cursor: pointer;
}

.signInBtn {
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  color: grey;
}

@media (max-width: 550px) {
  .Navbar-account {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .header {
    display: flex;
   justify-content: center;
  }
  .Navbar-search {
    display: none;
  }
}
